<body>
  <div class="principal">
    <div class="div_nombre-preparacion">
      <div class="div_nombre">
        <h2>Nombre</h2>
        <input type="text" placeholder="nombre" [(ngModel)]="nombre">
      </div>

      <div class="div_preparacion">
        <h2>Preparación </h2>
        <input type="text" placeholder="preparacion" [(ngModel)]="preparacion"><br>
      </div>
    </div>
    <div class="supreing">
      <h2>Ingredientes</h2>
      <div class="div_ingredientes">
        <div class="lista_ingredientes">
          <input type="text" placeholder="Ingredientes" *ngFor="let item of recetamodificada.ingredientes" value={{item}}>
        </div>
        <div class="agregar_ingredientes">
          <input type="text" placeholder="Nuevo Ingrediente" [(ngModel)]="nuevoingrediente">    <input type="submit" class="btn btn-outline-primary" value="Agregar nuevo ingrediente" (click)="agregaringrediente()">

        </div>
      </div>
    </div>



  </div>
  <input type="submit" value="Modificar Receta" (click)="modificar()" class="bagg btn btn-outline-primary">

</body>
