<body>
<div class="navegacion">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Recetas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="Contacto">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="quienes somos">Quienes somos?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="administracion">Administracion</a>
    </li>
  </ul>

</div>
  <router-outlet></router-outlet>



  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <p class="text-body" href="">Darwin Elegiga</p>
    </div>
    <!-- Copyright -->
  </footer>

</body>
